.main-body {
  width: 100%;
  height: 500px;
  margin: 0;
  padding: 0;
}

.recently {
  margin: 8px 6px 4px 0;
  padding: 8px 6px 4px 0px;
  height: 200px;
}

.recently_header {
  display: flex;
  height: 40px;
  font-size: 16px;
}

.recently_header p,
.recently-icon {
  margin: 0 6px;
  font-weight: 600;
}

.your_work-text h4 {
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
}

.your_work-header {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
}

.header-name {
  display: flex;
  height: 36px;
  align-items: center;
  justify-content: center;
}

.header-name p {
  line-height: 36px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 800;
}

.header-img {
  height: 36px;
  width: 36px;
  border-radius: 5px;
  object-fit: cover;
  margin: 0 8px 0 0;
}

.control-list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.list-item {
  height: 36px;
  align-items: center;
  margin: auto 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 3px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.12);
}

.button_works {
  border: transparent;
  background-color: transparent;
  display: flex;
}

.button_works span {
  margin-top: 0;
}

.button_works span,
.button_works p {
  line-height: 36px;
}
