.js-add-list {
    width: 200px;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #f1f2f4;
    box-sizing: border-box;
    margin: 1rem 0.5rem;
    border-radius: 10px;
    scroll-margin: 8px;
    padding: 8px;
}

.list-name-input {
    line-height: 3rem;
    width: 100%;
    font-weight: 600;
    height: 32px;
    border: 1px solid;
    border-radius: 3px;
}

.list-name-input:focus {
    border-color: white;
}

.list-add-controls {
    margin: 8px 0 0;
    height: 32px;
    overflow: hidden;
    transition: margin 85ms ease-in,height 85ms ease-in;
}

.js-save-edit {
    border-radius: 3px;
    background-color: #0c66e4;
    color: #f5f5f5;
    border: 0;
    height: 32px;
    width: 86px;
    font-size: 14px;
    text-align: center;
}

.btn-add:hover, .js-save-edit:hover {
    background-color: #14a44d;
    transition: background-color 0.5s ease-in;
    cursor: pointer;
}

.js-cancel-edit {
    margin-left: 1rem;

}