.js-add-list {
    width: 200px;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #f1f2f4;
    box-sizing: border-box;
    margin: 1rem 0.5rem;
    border-radius: 10px;
    scroll-margin: 8px;
    padding: 8px;
}

.list-name-input {
    width: 100%;
    font-weight: 600;
    height: 32px;
}

.list-add-controls {
    margin: 8px 0 0;
    height: 32px;
    overflow: hidden;
    transition: margin 85ms ease-in,height 85ms ease-in;
}

.js-save-edit {
    background-color: #fff;
    border-radius: 3px;
}

.js-cancel-edit {
    margin-left: 1rem;

}